<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过滤器</title>
</head>
<body>
    <p>{{ age | abs }}</p>      <!-- 对age进行绝对值运算 -->
    <p>{{ 'hello' | capitalize }}</p>       <!-- 将字符串hello转换为Hello，实现首字母大写 -->
    <p>{{ 'hello' | replace('h','x') }}</p>      <!-- 将hello中的字母h替换为x -->
    <p>{{ [01,80,42,44,77] | first }}</p>   <!-- 取得列表中的首个元素 -->
    <p>{{ [01,80,42,44,77] | last }}</p>    <!-- 取得列表中的最后一个元素 -->
    <p>{{ [01,80,42,44,77] | count }}</p>   <!-- 取得列表中的元素个数 -->
    <p>{{ [01,80,42,44,77] | sort }}</p>    <!-- 列表中的元素重新排序，默认按照升序进行排序 -->
    <p>{{ [01,80,42,44,77] | join(',') }}</p>      <!-- 将列表中的元素合并成字符串 -->
    <p>{{ 18.8888 | round(2,'floor') }}</p>    <!-- 保留小数点后两位，返回结果为18.88 -->
    <p>{{ 18.8888 | round }}</p>    <!-- 四舍五入取得整数 -->
    <p>{{ -2 | abs }}</p>   <!-- 进行绝对值运算 -->
</body>
</html>